<div class="jumbotron text-center">
    <a class="link__option" href="" ui-sref="cliente">
        <h1>Clientes</h1>
        <p>Veja os <span class="text-danger">clientes</span> cadastrados!</p>
    </a>
</div>
<div class="jumbotron text-center">
    <a class="link__option" href="" ui-sref="carro">
        <h1>Carros</h1>
        <p>Veja os <span class="text-danger">carros</span> cadastrados!</p>
    </a>
</div>
<div class="jumbotron text-center">
    <a class="link__option" href="" ui-sref="servico">
        <h1>Serviços</h1>
        <p>Veja os <span class="text-danger">serviços</span> cadastrados!</p>
    </a>
</div>